<template name="post">
  <h1>Edit Post</h1> 
  {{> quickForm collection="Posts" id="updatePostForm" type="update" doc=this}}
  <a class="btn" href="/">Back</a>
</template>


<template name="posts">
  <ul>
    <table style="width:100%">
    <tr>
    <td>MAP Ref</td>
    <td>Block</td> 
    <td>Room Num</td>
    <td>Location Desc</td>
    <td>AP Name</td>
    <td>BSSID</td>
    <td>Date</td>
    <td>Time</td>
    <td>Device</td>
    <td>Download Speed</td>
    <td>Upload Speed</td>
    <td>Remark</td>
  </tr>
  {{#each posts}} 
  <tr>
    <td><a href="{{pathFor 'rawData.show'}}">{{MAP_Ref}}</a></td>
    <td>{{Block}}</td> 
    <td>{{Room_num}}</td>
    <td>{{Location_desc}}</td>
    <td>{{AP_name}}</td>
    <td>{{ConnectedBSSID}}</td>
    <td>{{Date}}</td>
    <td>{{Time}}</td>
    <td>{{Device}}</td>
    <td>{{Download_speed}}</td>
    <td>{{Upload_speed}}</td>
    <td>{{Remark}}</td>
  </tr>
  {{/each}}
</table>
  </ul>
</template>

<!--
<template name="posts">
  <ul>
    {{#each posts}} 
      <li><a href="{{pathFor 'post.show'}}">{{MAP_Ref}}</a> - {{Block}} - {{Room_num}} - {{Location_desc}} - {{AP_name}} - {{ConnectedBSSID}} - {{Date}} - {{Time}} - {{Device}} - {{Download_speed}} - {{Upload_speed}} - {{Remark}}</li>
    {{/each}}
  </ul>
</template>
-->